@import "color";

.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

        >svg{
            color: $red;
            font-size: 12rem;
            opacity: 0.1;
        }

        >div{
            top:50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            
            >p{
                color: $red;
                font-size: 2.5rem;
                animation: blink 1s linear infinite;
            }

            @keyframes blink {
                0%{opacity: 0;}
                50%{opacity: .5;}
                100%{opacity: 0.7;}
                
            }
        }
}